:root {
	--clrlink: #336611;
	--clrh2: ;
	--clrh2bg: #ccffbb;
	--clrh3: ;
	--clrh3bg: #f0f0f0;
	--clrcode: #333333;
	--clrcodebg: #f0f0f0;
	--clrsidebarbg: #558833;
	--clrsidebartext: #ffffff;
	--clrsidebartexthover: #0000000;
}

/* TODO: test this */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'),
       url('../fonts/Poppins-Italic.ttf') format('truetype'),
       url('../fonts/Poppins-BoldItalic.ttf') format('truetype'),
       url('../fonts/Poppins-Bold.ttf') format('truetype')
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #333;
}

html {
}

body {
}

p, h1, h2, h3, h4, ul, ol, .chapter {
	margin-bottom: 1em;
}

li {
	margin-left: 1em;
}

a {
	color: var(--clrlink);
}

a:hover {
	color: #000000;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	color: var(--clrlink);
	font-size: 2em;
}

h1 a {
	text-decoration: none;
}

h2 {
	padding: .3em;
	background-color: var(--clrh2bg);
	font-size: 1.7em;
}

h3 {
	padding: .3em;
	background-color: var(--clrh3bg);
}

code, pre {
	 font-family: monospace;
}

.main {
	display: grid;
	grid-template-columns: 30% 70%;
}

.tableofcontents {
	background-color: var(--clrsidebarbg);
	color: var(--clrsidebartext);
	padding: 1.5em;
	/* position: fixed;
	top: 0;
	left: 0;
	width: 25%; */
	/* height: 100vh;
	overflow-y: scroll; */
}

.tableofcontents a {
	text-decoration: none;
	color: var(--clrsidebartext);
}

.tableofcontents a:hover {
	color: var(--clrsidebartexthover);
}

.tableofcontents ul li {
	margin-bottom: 1em;
	list-style: none;
}

.tableofcontents ul li ul {
	margin-bottom: 1em;
}

.tableofcontents ul li ul li {
	margin-bottom: .5em;
}

.tableofcontents .pagename > a {
	font-size: 1.2em;
}

.references {

}

.references ul {
	list-style: none;

}

.content {
	padding: 1.5em;
	/* position: fixed;
	top: 0;
	right: 0; */
	/* width: 75%; */
	/* height: 100vh;
	overflow-y: scroll; */
}

.chapter {
	margin-bottom: 3em;
}

.codeexample {
	display: block;
	padding: 1em 1em 0 1em;
	color: var(--clrcode);
	background: var(--clrcodebg);
	margin: 1em 0;
	font-size: 1.3em;
	/* border-radius: 10px; */
	overflow-x: scroll;

}

.tag, .var, .path {
	font-weight: normal;
	color: #aa0000;
}

.path {
	font-style: italic;
}

.next {
	margin-bottom: 1em;
}
