:root {
	--clrlink: #0060a0;
	--clrh2: #cceeff;
	--clrh3: ;
	--clrh3bg: #dfdfdf;
	--clrcode: #333333;
	--clrcodebg: #eeeeee;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype'),
       url('fonts/Roboto-Italic.ttf') format('truetype'),
       url('fonts/Roboto-BoldItalic.ttf') format('truetype'),
       url('fonts/Roboto-Bold.ttf') format('truetype')
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #333;
}

html {
}

body {
}

article, p, h1, h2, h3, h4, ul, ol {
	margin-bottom: 1em;
}

li {
	margin-left: 1em;
}

a {
	color: var(--clrlink);
}

a:hover {
	color: #000000;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	color: var(--clrlink);
}

h1 a {
	text-decoration: none;
}

h2 {
	padding: .3em;
	background-color: var(--clrh2);
}

h3 {
	padding: .3em;
	background-color: var(--clrh3bg);
}

code, pre {
	 font-family: monospace;
}

.main {
}

.tableofcontents {
	padding: 1.5em;
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	height: 100vh;
	overflow-y: scroll;
}

.tableofcontents ul li {
	margin-bottom: .5em;
}

.tableofcontents ul li ul {
	margin-bottom: .5em;
}

.tableofcontents ul li ul li {
	margin-bottom: 0;
}

.content {
	padding: 1.5em;
	position: fixed;
	top: 0;
	right: 0;
	width: 75%;
	height: 100vh;
	overflow-y: scroll;
}

.codeexample {
	display: block;
	padding: 1em 1em 0 1em;
	color: var(--clrcode);
	background: var(--clrcodebg);
	margin: 1em 0;
	font-size: 1.3em;
	border-radius: 10px;
	overflow-x: scroll;

}

.tag, .var, .path {
	font-weight: normal;
	color: #aa0000;
}

.path {
	font-style: italic;
}

.next {
	margin-bottom: 1em;
}
