{% set title = 'Intro' %}
{% extends '_includes/_layout.html' %}
{% block content %}
{% raw %}
	<section>
		<h2>Adding Collections With JavaScript</h2>
		<article>
			<h3 id="collectioncrreation">Collection Creation</h3>
			<p>
        In Eleventy, collections are added to the <em class="var">collections</em> object by <em class="tag">tags</em> in
        markdown file front matter. Pagination objects are created by <em class="tag">pagination</em> in template file
				front matter. Collections are available to all templates, but pagination is specific to the template it is invoked in.
      </p>
			<p>
				Using JavaScript, new collections can be created from existing collections, or from the data sets created by pagination. Eleventy
				provides the <em class="var">addCollection</em> method, which adds whatever is returned by its callback to the <em class="var">collections</em> object.
				The callback can use methods such as <em class="var">getAll</em>, <em class="var">getFilteredByTag</em>, or
				<em class="var">getFilteredByGlob</em> to access the source data.
      </p>
		</article>

		<article>
			<h3 id="newcollectionfrommarkdownfiles">New Collection from Tags in Markdown Files</h3>
			<p>
				The markdown files <em class="path">src/posts/*.md</em> have front matter with a <em class="var">tags</em>
				value of &quot;post&quot;. The <em class="var">getFilteredByTag</em> method can get that collection and
				create a new one from that.
			</p>
			<p>
				In <em class="path">.eleventy.js</em> add this :
			</p>
			<pre class="codeexample">
eleventyConfig.addCollection("testCollection01" , function(collection) {
    var postCollection = collection.getFilteredByTag("post");
    return postCollection;
});
			</pre>
			<p>
				Create a template <em class="path">src/collectiontest.njk</em> to call this new collection.
			<p/>
			<p>
				Note that <em class="var">templateContent</em> is used here as described in
				<a href="templates-and-external-markdown-files.html#collectionsandmarkdowncontent">Collections and Markdown Content</a>.
			</p>

			<pre class="codeexample">
---
title: Collections Test
---
{% include "_head.njk" %}
&lt;h1&gt;{{ title }}&lt;/h1&gt;
&lt;h2&gt;New Post Collection&lt;/h2&gt;
&lt;ul&gt;
    {% for item in collections.testCollection01 -%}
    &lt;li&gt;
    &lt;h4&gt;{{ item.data.title }}&lt;/h4&gt;
    &lt;small&gt;{{ item.date | dateformat2 }}&lt;/small&gt;
    {{ item.templateContent | safe }}
    &lt;/li&gt;
    {% endfor -%}
&lt;/ul&gt;
{% include "_foot.njk" %}
			</pre>
		</article>

		<article>
			<h3 id="newcollectionfrompaginatontemplates">New Collection from Pagination in Templates</h3>
			<p>
				The template <em class="path">src/fishpaged.njk</em> has front matter with <em class="var">pagination</em>
				calling from a JSON file. The <em class="var">getFilteredByGlob</em> method can get the pagination data via the template
				and create a new collection from that.
			</p>

			<p>
				In <em class="path">.eleventy.js</em> add this :
			</p>
			<pre class="codeexample">
eleventyConfig.addCollection("paginationCollection" , function(collection) {
    var pageCollection = collection.getFilteredByGlob("**/fishpaged.njk");
    return pageCollection;
});
			</pre>
			<p>
				Add this to <em class="path">src/collectiontest.njk</em> to call this new collection :
			</p>
			<pre class="codeexample">
&lt;h2&gt;New Pagination Collection&lt;/h2&gt;
&lt;ul&gt;
    {% for item in collections.paginationCollection -%}
    &lt;li&gt;{{ item.data.title }}, {{ item.url }}, {{ item.date }}, {{ item.data.fishList.fish }}&lt;/li&gt;
    {% endfor -%}
&lt;/ul&gt;
			</pre>
		</article>

		<article>
			<h3 id="newcollectionfromtagsintemplates">New Collection from Tags in Templates</h3>
			<p>
				Add <em class="var">tags: fishtag</em> to the front matter of the <em class="path">src/fishpaged.njk</em>
				template.
			</p>
			<p>
				The <em class="var">getFilteredByTag</em> method can get that collection and
				create a new one from the JSON.
			</p>

			<p>
				In <em class="path">.eleventy.js</em> add this :
			</p>
			<pre class="codeexample">
eleventyConfig.addCollection("templateTagCollection" , function(collection) {
    var coll = collection.getFilteredByTag("fishtag");
    return coll;
});

			</pre>
			<p>
				Add this to <em class="path">src/collectiontest.njk</em> to call this new collection :
			</p>
			<pre class="codeexample">
&lt;h4&gt;New Tag from Template Collection&lt;/h4&gt;
&lt;ul&gt;
    {% for item in collections.templateTagCollection -%}
    &lt;li&gt;{{ item.data.title }}, {{ item.url }}, {{ item.date }}, {{ item.data.fishList.fish }}&lt;/li&gt;
    {% endfor -%}
&lt;/ul&gt;
			</pre>
		</article>

		<article>
			<h3 id="newcollectionfromtagsintemplates">New Collection from Data in Templates</h3>
			<p>
				The template <em class="path">src/index.njk</em> has front matter data called <em class="var">birds</em>.
				The <em class="var">getFilteredByGlob</em> method can get that data via the template
				and create a new collection from that. This gives oher templates access to the data in that template.
			</p>

			<p>
				In <em class="path">.eleventy.js</em> add this :
			</p>
			<pre class="codeexample">
eleventyConfig.addCollection("dataCollection" , function(collection) {
    var coll = collection.getFilteredByGlob("**/index.njk");
    return coll;
});
			</pre>
			<p>
				Add this to <em class="path">src/collectiontest.njk</em> to call this new collection (note how this one
				adds a secondary loop to cycle through the birds list) :
			</p>
			<pre class="codeexample">
&lt;h2&gt;New Data Collection&lt;/h2&gt;
&lt;ul&gt;
{% for item in collections.dataCollection -%}
    &lt;li&gt;
    {{ item.data.title }}, {{ item.url }}, {{ item.date }}, {{ item.data.birds }}
        &lt;ul&gt;
            {% for bird in item.data.birds -%}
            &lt;li&gt;{{ bird }}&lt;/li&gt;
            {% endfor -%}
        &lt;/ul&gt;
    &lt;/li&gt;
{% endfor -%}
&lt;/ul&gt;
			</pre>
		</article>

	</section>
	<nav class="next">
		<a href="start.html">Start &gt;&gt;</a>
	</nav>
{% endraw %}
{% endblock %}
