{% set title = 'Configuration Files' %}
{% extends '_includes/_layout.html' %}
{% block content %}
{% raw %}
	<section>
		<h2>Configuration Files</h2>
		<article>
			<h3 id="targetpath">Target Path</h3>
			<p>
       			Eleventy can be customized to match the way you prefer to work. For example, you can change the target folder from <span class="path">_site</span> to <span class="path">dist</span>. Configuration is done by creating the <span class="path">.eleventy.js</span> file (note the dot at the beginning) :
				<pre class="codeexample">
module.exports = {
    dir: {
        output: "dist"
    }
};
				</pre>
				Delete the <span class="path">_site</span> folder, re-run Eleventy. A new <span class="path">dist</span> folder should appear.
			</p>
		</article>

		<article>
			<h3 id="sourcepath">Source Path</h3>
			<p>
       			Instead of placing templates in the project root, Eleventy can process from a source folder, e.g. <span class="path">src</span>.  Edit <span class="path">.eleventy.js</span> :
				<pre class="codeexample">
module.exports = {
    dir: {
        output: "dist",
        input: "src"
    }
};
				</pre>

				Move the <span class="path">*.liquid</span>, <span class="path">*.njk</span>, and <span class="path">*.md</span> files, and <span class="path">posts</span>, <span class="path">_includes</span> and <span class="path">_data</span> folders all into <span class="path">src</span>. Delete the target folder, re-run Eleventy, and <span class="path">dist</span> should re-appear with the same structure as before.
			</p>
		</article>

		<article>
			<h3 id="templateformats">Template Formats</h3>
			<p>
				There should currently be both <span class="path">*.liquid</span> and  <span class="path">*.njk</span> templates in the <span class="path">eleventy-test</span> project folder. To tell Eleventy to only process <span class="path">*.liquid</span> templates, edit <span class="path">.eleventy.js</span> :

				<pre class="codeexample">
module.exports = {
  
    dir: {
        output: "dist"
        input: "src"
    },

    templateFormats: ["liquid"]

};					
				</pre>
				Delete the <span class="path">dist</span> folder, re-run Eleventy, and in the new <span class="path">dist</span> folder there should no longer be a <span class="path">jsontest</span> folder.
			</p>
			<p>
				Add &quot;njk&quot; to the <span class="var">templateFormats</span> :

				<pre class="codeexample">
module.exports = {
  
    dir: {
        output: "dist",
        input: "src"
    },

    templateFormats: ["liquid", "njk"]

};					
				</pre>
				The <span class="path">jsontest</span> folder should re-appear inside <span class="path">dist</span>.
			</p>




    </article>
	</section>
	<nav class="nex">
		<a href="aaa.html">aaa &gt;&gt;</a>
	</nav>
{% endraw %}
{% endblock %}
