{% extends '_includes/_layout.html' %}
{% block content %}
{% raw %}
<h2>Eleventy Walk Through Home Page 3</h2>
<p>
  Welcome to my <em>Eleventy Walkthrough</em> user's guide. Please refer to the table of contents
  to access the pages that address the various features of Eleventy. And please make sure to read the
  <a href="intro.html">Intro Page</a> to understand the scope of this guide.
</p>
<p>
  This guide is a <em>work-in-progress</em> and will be receiving more polish, more content, and more updates
  going forward. But hopefully it can still be of use in the meantime.
</p>
<p>
  Update of this page: 2020-02-01
</p>
{% endraw %}
{% endblock %}
