{% set title = 'Intro' %}
{% extends '_includes/_layout.html' %}
{% block content %}
{% raw %}
	<article>
		<h2>Shortcodes</h2>
		<section class="chapter">
			<h3 id="shortcodeseleventy">Shortcodes in Eleventy</h3>
			<p>
				<em>Shortcodes</em> have some similarities to filters, but can provide some extra flexibility. Filters allow piping a variable into a function, which then returns a modified form of that variable. Shortcodes are called with multiple parameters in a very function-like manner. The idea then being that the variables are used to assemble content to be returned. A type of automated layout. There are also <em>Paired Shortcodes</em> which include <em>end</em> tags. Between the beginning and end tags there can be content which the shortcode can also process. That content can contain variables and shortcodes.
			</p>
		</section>

		<section class="chapter">
			<h3 id="shortcode">Shortcode</h3>
			<p>
				Edit <span class="path">src/index.njk</span> to add some new front matter and a tag for a shortcode called <span class="tag">shorttest</span>. As can be seen, there is no pipe, and there are two variables being supplied (set in the front matter) :
			</p>
			<pre class="codeexample">
---
title: Birds
subtitle: Eleventy subtitle
greeting: Welcome

birds:
  - robin
  - finch
  - sparrow
---
{% include "_head.njk" %}
    &lt;h1&gt;{{ title }}&lt;/h1&gt;
    &lt;h2&gt;{% shorttest subtitle, greeting %}&lt;/h2&gt;
    &lt;ul&gt;
        {% for bird in birds -%}
        &lt;li&gt;{{ bird }}&lt;/li&gt;
        {% endfor -%}
    &lt;/ul&gt;
{% include "_foot.njk" %}
			</pre class="codeexample">

			<p>
				Edit <span class="path">.eleventy.js</span> by adding the shortcode <span class="var">shorttest</span> after the filter <span class="var">decorate</span>. Note the function accepts two parameters :
			</p>
			<pre class="codeexample">
eleventyConfig.addShortcode("shorttest", function(subtitle, greeting){
    return "&lt;h2&gt;&lt;em&gt;"+subtitle+">&lt;/em>, "+greeting+"&gt;&lt;/h2&gt";
});
			</pre>
			<p>
				This should result in a new <span class="tag">&lt;H2&gt;</span>, containing the two values,  under the <span class="tag">&lt;H1&gt;</span> in <span class="path">dist/index.html</span> :

			<pre class="codeexample">
&lt;h1&gt;Eleventy Title from Data&lt;/h1&gt;
&lt;h2&gt;&lt;em&gt;Eleventy subtitle&lt;/em&gt;, Welcome&lt;/h2&gt;
			</pre>
		</section>

		<section class="chapter">
			<h3 id="pairedshortcode">Paired Shortcode</h3>
			<p>
				Edit <span class="path">src/index.njk</span> again to add a tag for a paired shortcode called <span class="tag">pairedtest</span>. Note both the <span class="tag">{% pairedtest %}</span> and the <span class="tag">{% endpairedtest %}</span> tags, and note there is text between them :
			</p>
			<pre class="codeexample">
---
title: Eleventy Title from Data
subtitle: Eleventy subtitle
greeting: Welcome

flowers:
  - robin
  - finch
  - sparrow
---
{% include "_head.njk" %}
    &lt;h1&gt;{{ title }}&lt;/h1&gt;
    {% shorttest subtitle, greeting %}
    {% pairedtest subtitle, greeting %}Paired Shortcode Content{% endpairedtest %}
    &lt;ul&gt;
        {% for flower in flowers -%}
        &lt;li&gt;{{ flower }}&lt;/li&gt;
        {% endfor -%}
    &lt;/ul&gt;
{% include "_foot.njk" %}
			</pre class="codeexample">

			<p>
				Edit <span class="path">.eleventy.js</span> again by adding the paired shortcode <span class="var">pairedtest</span> after the shortcode <span class="var">shorttest</span>. Note the function accepts three parameters.  The first one is the content inside the paired shortcode tags.
			</p>
			<pre class="codeexample">
eleventyConfig.addPairedShortcode("pairedtest", function(data, subtitle, greeting) {
    return "&lt;h3&gt;"+subtitle+"&lt;/h3&gt;&lt;h4&gt;"+greeting+"&lt;/h4&gt;"+"&lt;p&gt;&lt;em&gt;"+data+"&lt;/em&gt;&lt;/p&gt;";
});
			</pre>
			<p>

				This should result in a new line starting with the fully assembled content, in <span class="path">dist/index.html</span> :
			</p>
			<pre class="codeexample">
&lt;h1&gt;Eleventy Title from Data&lt;/h1&gt;
&lt;h2&gt;Eleventy subtitle, Welcome&lt;/h2&gt;
&lt;h3&gt;Eleventy subtitle&lt;/h3&gt;&lt;h4&gt;Welcome&lt;/h4&gt;&lt;p&gt;&lt;em&gt;Paired Shortcode Content&lt;em&gt;&lt;/p&gt;
			</pre>

		</section>

	</article>
	<nav class="next">
		<a href="gulp.html">Gulp with Eleventy as a Task &gt;&gt;</a>
	</nav>
{% endraw %}
{% endblock %}

<h3>Eleventy subtitle</h3><h4>Welcome</h4><p><em>Paired Shortcode Content</em></p>
