{% set title = 'Template Languages' %}
{% extends '_includes/_layout.html' %}
{% block content %}
{% raw %}
	<article>
		<h2>Template Languages</h2>
		<section class="chapter">
			<h3 id="fileextensions">File Extensions</h3>

			<p>
				Eleventy can process around ten different template languages (<a href="intro.html#introeleventy">See Intro for the list</a>). Eleventy defaults to <em>Liquid</em> for pages with an HTML extension. Eleventy relies on the file extension to know what language is to be used, so to tell it to use <em>Nunjucks</em>, use the extension <span class="path">*.njk</span>. This can also affect certain defaults, so it's useful just to indicate what language is intended, so even when using Liquid, the extension <span class="path">*.liquid</span> is a good idea.
			</p>
			<p>
				Different languages have different features and syntax. Nunjucks, for example, can use JavaScript in front matter and data, while Liquid can't. The pages created so far have defaulted to Liquid because their extension was *.html, but to continue from here, they will be converted to Nunjucks.
			</p>

			<p>
				Change these filenames to the <span class="path">*.njk</span> extension.
      </p>

			<pre class="codeexample">
animals.html => animals.njk
fishpaged.html => fishpaged.njk
index.html => index.njk
intro.html => intro.njk
postlist.html => postlist.njk

_includes/_foot.html => _includes/_foot.njk
_includes/_head.html => _includes/_head.njk
_includes/layout.html => _includes/layout.njk
			</pre>
			<p>
				Changing these filenames will affect includes and layouts, so some content will need to changed. For includes, the &quot;.html&quot; extension must be changed to &quot;njk&quot;. And front matter pointing to layouts needs extensions to be changed to &quot;.njk&quot;.
      </p>

			<pre class="codeexample">
animals.njk (include tags for head and foot need double quotes and extension changed to &quot;njk&quot;)
fishpaged.njk (include tags for head and foot need double quotes and extension changed to &quot;njk&quot;)
index.njk (include tags for head and foot need double quotes and extension changed to &quot;njk&quot;)
intro.njk (include tags for head and foot need double quotes and extension changed to &quot;njk&quot;)

about.md (change the extension in the front matter to &quot;.njk&quot;)

posts/post-01.md (change the extension in the front matter to &quot;.njk&quot;)
posts/post-02.md (change the extension in the front matter to &quot;.njk&quot;)
posts/post-03.md (change the extension in the front matter to &quot;.njk&quot;)

_includes/layout.njk (change the extension in the front matter to &quot;.njk&quot;)

fishpaged.njk (change {{ pagination.pageNumber : plus 1 }} to {{ pagination.pageNumber + 1 }})"

			</pre>
      <p>
				Confirm everything processed correctly. Basically, everything in <span class="path">_site</span> should look the same as before. Note how, even though the templates are now <span class="path">*.njk</span>, the output files are still <span class="path">*.html</span>.
      </p>
		</section>

		<section class="chapter">
			<h3 id="nunjucksjavascript">Nunjucks and JavaScript</h3>
			<p>
				Create the file <span class="path">jsontest.njk</span>. Note how the front matter starts with <span class="var">---js</span> :
      </p>
			<pre class="codeexample">
---js
{
    title: "JS test page",
    body: "body text from JS",
    arctics : function() {
        var arctics = ["walrus", "penguin", "puffin", "polar bear"];
        return arctics.sort();
    }
}
---
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
     &lt;title&gt;{{ title }}&lt;/title>&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;{{ title }}&lt;/h1&gt;
    {{ body }}
    {% for arctic in arctics() -%}
        {{ loop.index }}. {{ arctic }}
    {% endfor -%}
&lt;/body&gt;
&lt;/html&gt;
			</pre>
      <p>
				A new folder and file <span class="path">_site/jsontest/index.html</span>	should be generated :
      </p>

			<pre class="codeexample">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;JS test page&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;JS test page&lt;/h1&gt;
    body text from JS
    1. penguin
    2. polar bear
    3. puffin
    4. walrus
    &lt;/body>
&lt;/html&gt;
			</pre>

		</section>

    <section class="chapter">
			<h3 id="nunjucksjavascriptpagination">Nunjucks and JavaScript and Pagination</h3>
			<p>
        JavaScript front matter provides an extra feature to pagination, the <span class="var">before</span> key. This allows insertion of a JS function to process the data before pagination. Create a  <span class="path">src/fishpaged2.njk</span> file, noting the change in the syntax from YAML to JavaScript :
      </p>

      <pre class="codeexample">
---js
{
  title: "Fish Paged 2",
  pagination: {
    data: "fishList.fish",
    size: 3,
    before: function(data) {
      return data.map(item => 'Fish of the day: '+ item);
    }
  }
}
---
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
     &lt;title&gt;{{ title }}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;{{ title }}&lt;/h1&gt;
    &lt;ul&gt;
        {% for fish in pagination.items -%}
        &lt;li>{{ fish }}&lt;/li&gt;
        {% endfor -%}
    &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;
      </pre>

      <p>
				A new folder and file <span class="path">_site/pagedfish2/index.html</span>	should be generated. You should see &quot;Fish of the day:&quot; preceding each list item :
      </p>
      <pre class="codeexample">
&lt;!DOCTYPE html&gt;
&lt;html>
&lt;head>
     &lt;title&gt;Fish Paged 2&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Fish Paged 2&lt;/h1&gt;
    &lt;ul&gt;
        &lt;li&gt;Fish of the day: perch&lt;/li&gt;
        &lt;li&gt;Fish of the day: bass&lt;/li&gt;
        &lt;li&gt;Fish of the day: bream&lt;/li&gt;
    &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;
      </pre>
      <p>
				For more details on what different template languages can do, <a href="https://www.11ty.io/docs/languages/">check out the Eleventy documentation on languages</a>.
			</p>

    </section>

	<nav class="next">
		<a href="custom-configuration.html">Custom Configuration &gt;&gt;</a>
	</nav>
	</article>
{% endraw %}
{% endblock %}
