{% set title = 'Eleventy and Template Languages' %}
{% extends '_includes/_layout.html' %}
{% block content %}
{% raw %}
	<section>
		<h2>Eleventy and Template Languages</h2>
		<article>
			<h3 id="fileextensions">File Extensions</h3>

			<p>
				Eleventy can process around ten different template languages (<a href="http://localhost/eleventy/guide/intro.html#introeleventy">See Intro for the list</a>). Eleventy defaults to Liquid for pages with an HTML extension. Eleventy relies on the file extension to know what language is to be used, so to tell it to use Nunjucks, use the extension <span class="path">*.njk</span>. This can also affect certain defaults, so it's useful just to indicate what language is intended, so even when using Liquid, the extension <span class="path">*.liquid</span> can be used.
			</p>

			<p>
				Change these filenames to the <span class="path">*.liquid</span> extension.

				<pre class="codeexample">
animals.html
fishpaged.html
index.html
postlist.html

_includes/foot.html
_includes/head.html
_includes/layout.html
				</pre>
			</p>
			<p>
				Changing these filenames will affect includes and layouts, so some content will need to changed. For includes, the &quot;.html&quot; extension part can now be removed, since the template will default to &quot;.liquid&quot;. And front matter pointing to layouts needs extensions to be changed to &quot;.liquid&quot;.

				<pre class="codeexample">
animals.liquid (include head and foot tags can have the &quot;.html&quot; removed)
fishpaged.liquid (include head and foot tags can have the &quot;.html&quot; removed)
index.liquid (include head and foot tags can have the &quot;.html&quot; removed)
about.md (change the extensions in the front matter to &quot;.liquid&quot;)

posts/post-01.md (change the extensions in the front matter to &quot;.liquid&quot;)
posts/post-02.md (change the extensions in the front matter to &quot;.liquid&quot;)
posts/post-03.md (change the extensions in the front matter to &quot;.liquid&quot;)

_includes/layout.liquid (change the extensions in the front matter to &quot;.liquid&quot;)
				</pre>

				Confirm everything processed correctly. Basically, everything in <span class="path">_site</span> should look the same as before. Note how, even though the templates are now <span class="path">*.liquid</span>, the output files are still <span class="path">*.html</span>.

			</p>
		</article>

		<article>
			<h3 id="liquidandnunjucks">Liquid and Nunjucks</h3>
			<p>
				Different template languages have different advantages. Liquid is simple to use. However, a language like Nunjucks (which seems more popular) allows using JavaScript in front matter, for example. Create the file <span class="path">jsontest.njk</span>. Note how the front matter starts with <span class="var">---js</span>. Note also the slightly different syntax in the template where there is a <span class="var">{{ loop.index }}</span> tag instead of the <span class="var">{{ forloop.index }}</span> tag used in Liquid.

				<pre class="codeexample">
---js
{
    title: "JSON test page",
    body: "body text from JSON",
    arctics : function() {
        var arctics = ["walrus", "penguin", "puffin", "polar bear"];
        return arctics.sort();
    }
}
---
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
     &lt;title&gt;{{ title }}&lt;/title>&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;{{ title }}&lt;/h1&gt;
    {{ body }}
    {% for arctic in arctics() -%}
        {{ loop.index }}. {{ arctic }}
    {% endfor -%}
&lt;/body&gt;
&lt;/html&gt;
				</pre>
				A new folder and file <span class="path">_site/jsontest/index.html</span>	should be generated :

				<pre class="codeexample">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;JSON test page&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;JSON test page&lt;/h1&gt;
    body text from JSON
    1. penguin
    2. polar bear
    3. puffin
    4. walrus
    &lt;/body>
&lt;/html&gt;
				</pre>
				For more details on what different template languages can do, <a href="https://www.11ty.io/docs/languages/">check out the Eleventy documentation on languages</a>.
			</p>

		</article>

	<nav class="next">
		<a href="configuration-files.html">Configuration Files &gt;&gt;</a>
	</nav>
	</section>
{% endraw %}
{% endblock %}
